@import '../../defines.css';

.button-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.simple-filter-state .button-list {
  flex-wrap: nowrap;
}

.button.filter-item {
  width: 120px;
  height: 60px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 6px;
  text-shadow: 0 0 10px lightslategray;
  background-color: #d2b48c;
  outline: none;
  margin: 3px;
}

.button.filter-item.square {
  font-size: 28px;
  width: 60px;
}

.button.filter-item.checked {
  text-shadow: 0 0 30px #ff8c00;
  border-color: #ff8c00;
}

.button.filter-item:disabled {
  color: #ccc;
  border-color: #ccc;
}
