body {
  background-color: #94e9cd;
}

*[draggable=true] {
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.hamburger:hover, .hamburger:focus {
  background: #000;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span, .hamburger span:before, .hamburger span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.hamburger span:before, .hamburger span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.hamburger span:after {
  margin-top: 0.6em;
}
