@import '../../defines.css';

.card-filter-container {
  flex: 1;
  height: 100%;
  min-width: var(--card-filter-min-width);
  background-color: var(--card-filter-bg-color);
  display: flex;
  flex-direction: column;
}

.card-filter-title {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  color: var(--card-filter-label-color);
  text-shadow: 0 0 5px var(--card-filter-label-color);
  margin: 20px auto;
  height: 40px;
}

.card-filter-buttons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  border-bottom: solid 3px var(--card-filter-label-color);
}

.card-filter-tabs {
  display: flex;
  justify-content: flex-start;
}

.card-filter-tabs [class^="tab-button-"] {
  width: 80px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: var(--card-filter-label-color);
  margin: 0 3px;
  border-color: var(--card-filter-label-color);
  border-width: 3px;
  outline: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-tap-highlight-color: transparent;
}

.card-filter-tabs .tab-button-basic {
  background-color: #636;
}

.card-filter-tabs .tab-button-detail {
  background-color: #903;
}

.card-filter-tabs [class^="tab-button-"].active {
  margin-top: -10px;
  height: 60px;
  border-bottom-width: 0;
  border-bottom-color: rgba(41, 16, 16, 1);
}

.card-filter-actions {
  display: flex;
  justify-content: flex-end;
}

.card-filter-actions [class^="action-buton-"] {
  margin: 3px;
  font-size: 18px;
  width: 88px;
  height: 40px;
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: var(--card-filter-label-color);
  border-width: 2px;
  border-radius: 6px;
  outline: none;
}

.card-filter-actions .action-buton-reset {
  background-color: blue;
}

.card-filter-actions .action-buton-ok {
  display: none;
  background-color: red;
}

@media (--small-device) {
  .modal .card-filter-actions .action-buton-ok {
    display: block;
  }
}

@media (--small-device) {
  .card-filter-container {
    display: none;
    position: fixed;
    margin: 10px;
    width: calc(100% - 20px);
    min-width: 610px;
    height: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: 100;
  }

  .card-filter-container.open {
    display: block;
  }
}

@media (--app-min) {
  .card-filter-container.open {
    position: absolute;
  }
}
